.chat-window {
  background: var(--color-background-light);
  border: var(--border-primary);
  border-radius: var(--border-radius-sm);
  height: 50vh;
  overflow-y: auto;
}

.chat-window .space {
  padding-left: 0; /* dirty hack */
}
