html {
  /*Spacings*/
  --gutter-lg: 32px;
  --gutter-md: 16px;
  --gutter-sm: 8px;
  --gutter-xs: 4px;

  /*Breakpoints*/
  --breakpoint-lg: 1200px;

  /*fonts*/
  --primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  /*Palette*/
  --primary-color-text: #000;
  --primary-color-background: #e5e5e5;
  --color-background-light: #fffefb;
  --color-background-accent: #e9f3ff;
  --color-primary-button-background: #2487ff;
  --color-primary-button-background-active: #006bec;
  --color-primary-button-text: #fff;

  --color-white: #fff;
  --color-black: #000;

  /* Borders */
  --border-radius-sm: 4px;
  --border-color-primary: #bddbff;
  --border-color-dim: #ccc;
  --border-style-primary: solid;
  --border-width-xs: 1px;
  --border-primary: var(--border-width-xs) var(--border-style-primary) var(--border-color-primary);

  /* Shadow */
  --shadow-md: 0 0 5px var(--border-color-primary);
}
